/* structural elements styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

header img {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 2;

}

/* figures and images */
article {
    content: "";
    clear: both;
    display: table;
    border: solid thin lightgrey;
    box-shadow: 3px 3px 7px lightgrey;
    background-color: white;
    border-radius: 0px;
    width: 90%;
    max-width: 900px;
    min-width: 500px;
    margin: 5vw auto;
  }
  
  article h3 {
    margin: 0px;
    padding: 40px 5vw 10px;
    background: -webkit-linear-gradient(top, #992d51,#209dad);
    color:white;
    
  }
  
  article>p {
    margin: 50px;
  }

  figure {
    float: right;
    width: 25vw;
    margin: 8vh 1vh;
  }
  
  article:nth-child(even)>figure {
    float: left;
  }
  
  figure img {
    display: block;
    box-shadow: 2px 2px 5px grey;
    clear:both;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  figcaption {
    text-align: center;
    clear: both;
    color: #851037;
  }
  
  p {
    line-height: 1.25;
    margin-top: 0.5em;
  }

