
header {
    background-color: #000000;
}

.additionalelem {
    color: #ffffff;
    background-color:#000000;
    text-align: center;
} /*applied to nav bar and footer*/

h1 {
    font-size: 5em;
    color: #dd447f;
    font-variant:small-caps;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    text-align: center;
}

a:link { color:#209dad; } /* unvisited link */
a:visited { color:#209dad; } /* visited link */
a:hover { color:#dd447f; } /* mouse over link */

body {
    background-color:#000000;
    background: -webkit-linear-gradient(top, #000000, #3b0316, #992d51,#209dad, #992d51,#3b0316, #000000);
    background: -moz-linear-gradient(top, #000000, #3b0316, #992d51, #209dad, #992d51, #3b0316, #000000);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0.75em;
}

h2 {
    font-style:italic;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
} /*used for lyric quote*/

h3 {
    color: #851037;
    font-family: Arial, Helvetica, sans-serif; 
}

section {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif; 
    width: 70%;
    margin: 0 auto; 
    background-color:#ffffff ;
    padding: 4em 4em;
}

ul {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif; 
    width: 80%;
    margin: 0 auto; 
    background-color:#ffffff;
    padding: 2em 2em;  
}

dt {
    font-weight: bolder;
    padding-top: 1em;
    padding-bottom: 1em;
} /*unused for now, this is for the FAQ page elements*/

fieldset {
    width: 60%;
    margin: 0 auto;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
  }

tbody tr:nth-child(even) {
    background-color: rgb(240, 201, 219);
}
  
tbody tr:hover {
    background-color: rgb(182, 233, 240);
}

footer {
    height: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}